<div class="row">
  <div class="col-md-6">
    <h2 class="form-signin-heading">Please sign in</h2>
    <%= simple_form_for Identity.new, :url => '/auth/identity/callback', :defaults => { :wrapper_html => {:class => 'form-group'}, :input_html => { :class => 'form-control' } } do |f| %>
      <%# specify :input_html to avoid params nesting %>
      <%= f.input :username, :input_html => {:name => 'auth_key'} %>
      <%= f.input :password, :as => 'password', :input_html => {:name => 'password'} %>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <% end %>
  </div>

  <div class="col-md-6">
    <h2 class="form-signin-heading">Create and Account</h2>
    <%= simple_form_for Identity.new, :url => '/auth/identity/register', :defaults => { :wrapper_html => {:class => 'form-group'}, :input_html => { :class => 'form-control' } }  do |f| %>
      <%# specify :input_html to avoid params nesting %>
      <%= f.input :username, :input_html => {:name => 'username'} %>
      <%= f.input :password, :as => 'password', :input_html => {:name => 'password'} %>
      <%= f.input :password_confirmation, :label => "Confirm Password", :as => 'password', :input_html => {:name => 'password_confirmation'} %>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Create</button>
    <% end %>
  </div>
</div>
