<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= page_title %></title>

    <%= stylesheet_link_tag :application, :media => 'all' %>
    <%= csrf_meta_tags %>
  </head>
  <body class="<%= body_class %>">
    <div class="header">
      <div class="one_col">
        <embed src="/img/clock.svg" type="image/svg+xml" />
      </div>
      <h1 class="text">Two Month Me!</h1>
    </div>

    <%= render 'flashes' -%>

    <%= yield %>

    <%= render 'javascript' %>
  </body>
</html>
